<section>
  <div class="gallery">
      <ul>
        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/1.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/2.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/3.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/6.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/7.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/8.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/9.jpg' | theme_image_url }})"></div>
        </li>

        <li>
          <div class="image" style="background-image: url({{ 'gallery/new/12.jpg' | theme_image_url }})"></div>
        </li>
      </ul>
  </div>
</section>
