---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% seo %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  {{ 'underscore.js' | javascript_tag }}
  {{ 'gallery_alt.js' | javascript_tag }}
  {{ 'main.js' | javascript_tag }}

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  {{ 'screen.css' | stylesheet_tag }}

  {% include 'google_analytics' %}
</head>

<body>
  <div class="wrapper">
      <div class="logo" id="home">
          <h1><span>anfora</span></h1>
      </div>

      {% include 'main_nav' %}

      {% block 'main' %}

      {% include 'home_gallery' %}

      <section id="about-us">
        <h2 class="section_header">Welcome to Anfora Wine Bar & Restaurant</h2>
        <div class="section_content">
          <p>Elegant & relaxed, Anfora is a hidden gem located in the oldest
          commercial building in Scotland's capital city.</p>

          <p>Anfora offers a unique drinking & dining experience. Primarily
          focusing on organic & natural (biodynamic) wines from small
          independent producers around the world, thus introducing wine
          lovers to new tastes & flavours. Our food is imaginative, created
          from fresh, seasonal produce & designed to compliment our wine
          list. We like to keep things simple, without skimping on
          quality.</p>

          <p>The aim is to give people a place to encounter thrilling wines &
          exceptional food without the expensive trappings of high-end
          restaurants.</p>

          <p>You can find us at the Vaults in Leith, a stone throw away from
          Leith Walk.</p><a class="book_link" href=
          "http://www.opentable.co.uk/single.aspx?rid=109182&amp;rtype=ism&amp;restref=109182">Book
          a table at Anfora</a>
        </div>
      </section>

      <section id="private-dining">
        <h2 class="section_header right">Private dining</h2>
        <img class="full_width" src="{{ 'private_dining2.jpg' | theme_image_url }}">
        <div class="section_content">
          <p>To the left of the bar lies one of the most beautiful & historic
          dining rooms.</p>

          <p>Once named 'The Sales Room' this was where the wines of Bordeaux
          were sampled by the members of the Guild & purchased if approved.
          The price then fixed by the Edinburgh Town Council.</p>

          <p>Nowadays, you can book this exclusive space for your ideal
          occasion & your events can be tailored for you.</p>

          <p>We can offer a bespoke menu & matching wines to take care of any
          fuss or formalities, letting you & your guests to enjoy & relax in
          the splendour of this beautifully candle-lit room.</p>
        </div>
      </section>

      <section id="menu">
        <h2 class="section_header">Menu</h2>
        <div class="menu_container">
          <ul>
            {% for m in contents.menus %}
              <li><a class="{{ m.icon | downcase | underscore }}" href="{{ m.file.url }}">{{ m.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section id="news-and-events">
        <h2 class="section_header right">News &amp; events</h2>

        <div class="events_container">
          {% for n in contents.news_events %}
            <div class="container">
              <a href="{% path_to n %}" class="item {{ n.type | downcase }}">
                <div class="image">
                  <img src="{{ n.image | resize: "500x290#" }}">
                </div>
                <div class="content">
                  <div class="info">
                    <time datetime="{{ news.date | date: '%Y-%m-%d' }}" class="date">{{ n.date | date: '%B, %-d %Y' }}</time>
                  </div>
                  <h3 class="title">{{ n.title }}</h3>
                  <p class="intro">{{ n.intro | multi_line }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>

      {% endblock %}

      {% include 'contact' %}

      <footer id="main_footer">
        <div class="footer_logo"></div>

        <div class="copyrights">
          Anfora Wine Bar 2015 | Photography copyrights: Rarebird Media, Faz Aziz
        </div>
      </footer>
  </div>
</body>
</html>
